@font-face {
  font-family: "Roboto";
  src:         local("Roboto"), 
  url("../assets/fonts/roboto/Roboto-Regular.ttf") format("ttf");
  font-style:  normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src:         local("Roboto-Bold"), 
  url("../assets/fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-style:  normal;
  font-weight: bold;
}


@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'),
  url('../assets/fonts/lato/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}